{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block head %} 
{{ super() }} 

<script type="text/javascript">
    {% include "group/add_edit_group.js" %}

</script>

{% endblock %} 
{% block header%} 
{{ super() }} 
{% endblock %}

<!-- body begins -->
{% block content %}

<!--start grid-->


<div id="add_edit_group">
    <div class="ui centered grid">

    <div class="row custom__primary_grid">
    <div class="fourteen wide column">

        <div class="ui segment" style="overflow: auto; height: 100%;">

            <!--begin form-->
            <form id="group_form" name="group_form" class="ui small form" method="POST">

                <div class="ui error message">
                </div>

                <div class="field" style="width: 350px;">
                    <label>Name</label>
                    <input id="group_name" name="group_name" type="text" placeholder="Group Name">
                </div>
                <div class="field" style="width: 350px;">
                    <label>Description</label>
                    <textarea id="group_description" name="group_description" rows="2"></textarea>
                </div>

                <!-- buttons-->
                <div class="custom__button_panel_form">
                    <input id=save_group class="ui primary submit button" type="button" value=Save />
                    <input id=back_button class="ui button cancel" type="button" value=Back />
                </div>
            </form>
        </div>
    </div>
    </div>
    </div>
</div>

{% endblock %} {% block footer %} {{ super() }} {% endblock %}