{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block head %} 
{{ super() }} 

<script type="text/javascript">
    {% include "group/group_list.js" %}

</script>

{% endblock %} 
{% block header%} 
{{ super() }} 
{% endblock %}

<!-- body begins -->
{% block content %}

<!--start grid-->


<div id="group_list" class="ui middle aligned divided list custom__primary_list">

    <div class="item">
        <div class="right floated content">
            <div class="ui button">Edit</div>
        </div>
        <img class="ui avatar image" src="{{url_for('static', filename='images/Group-icon.png')}}">
        <div class="content">
            Lena
        </div>
    </div>

    <div class="item">
        <div class="right floated content">
            <div class="ui button">Edit</div>
        </div>
        <img class="ui avatar image" src="{{url_for('static', filename='images/Group-icon.png')}}">
        <div class="content">
            Lena
        </div>
    </div>
</div>

<!-- buttons-->
<div class="custom__button_panel_standard">
    <input id=new_group class="ui primary button" type="button" value="Add New" />
</div>

{% endblock %} {% block footer %} {{ super() }} {% endblock %}