{% extends "base.html" %} {% block title %}Home{% endblock %} {% block head %} {{ super() }}
<style type="text/css" media="all">
    .custom-symbol {
        width: 30%;
        margin-left: 33%;
        margin-top: 10%;
    }
</style>

<script type="text/javascript">
    {% include "students/student_details.js" %}

</script>
{% endblock %} {% block header %} {{ super() }} {% endblock %}

<!-- body begins -->
{% block content %}

<div class="ui centered grid">

    <div class="row custom__primary_grid">
        <div class="fourteen wide column">

            <div class="ui segment" style="overflow: auto; height: 100%;">

                <!--begin form-->
                <form id="student_form" name="student_form" class="ui small form" method="POST">
                    
                    <div class="ui error message">
                    </div>
                    
                    <div class="fields">
                        <div class="field">
                            <label>First name</label>
                            <input id="first_name" name="first_name" type="text" placeholder="First Name">
                        </div>
                        <div class="field">
                            <label>Last name</label>
                            <input id="last_name" name="last_name" type="text" placeholder="Last Name">
                        </div>
                    </div>

                    <div class="field" style="width: 80px;">
                        <label>Student group</label>
                        <div id="group" class="ui dropdown selection">
                            <input type="hidden" name="group">
                            <div class="default text">Select Group</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <!--
                                <div class="item" data-value="f">Female</div> -->
                            </div>
                        </div>
                    </div>

                    <div class="field" style="width: 80px;">
                        <label>Gender</label>
                        <div id="gender" class="ui dropdown selection">
                            <input type="hidden" name="gender">
                            <div class="default text">Select Gender</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" data-value="m">Male</div>
                                <div class="item" data-value="f">Female</div>
                            </div>
                        </div>
                    </div>

                    <div class="fields">
                        <div class="field" style="width: 200px;">
                            <label>Home Telephone</label>
                            <input id="home_telephone" name="home_telephone" type="text" placeholder="Home Telephone">
                        </div>

                        <div class="field" style="width: 250px;">
                            <label>Email address</label>
                            <input id="email_address" name="email_address" type="text" placeholder="Email Address">
                        </div>
                    </div>

                    <div class="fields">
                        <div class="field" style="width: 200px;">
                            <label>Father's Mobile</label>
                            <input id="father_mobile" name="father_mobile" type="text" placeholder="Mobile Number">
                        </div>

                        <div class="field" style="width: 200px;">
                            <label>Mother's Mobile</label>
                            <input id="mother_mobile" name="mother_mobile" type="text" placeholder="Mobile Number">
                        </div>

                        <div class="field" style="width: 200px;">
                            <label>Guardian's Mobile</label>
                            <input id="guardian_mobile" name="guardian_mobile" type="text" placeholder="Mobile Number">
                        </div>
                    </div>
                    <!--w2ui date picker-->
                    <div class="icon field">
                        <label>Date of birth</label>
                        <div class="ui input left icon" style="width: 150px;">
                            <i class="calendar icon"></i>
                            <input id="dob" name="dob" type="eu-date" placeholder="Select Date">
                        </div>
                    </div>

                    <div class="fields">
                        <div class="field">
                            <label>Address line 1</label>
                            <input id="address_line_1" name="address_line_1" type="text" placeholder="Line 1">
                        </div>
                        <div class="field">
                            <label>Address line 2-3</label>
                            <textarea id="address_line_2" name="address_line_2" rows="2"></textarea>
                        </div>
                        <div class="field">
                            <label>Post code</label>
                            <input id="post_code" name="post_code" type="text" placeholder="Post code">
                        </div>
                    </div>

                    <div class="field" style="width: 350px;">
                        <label>Medical Info</label>
                        <textarea id="medical_info" name="medical_info" rows="1"></textarea>
                    </div>

                    <div class="field" style="width: 350px;">
                        <label>Doctor's Name</label>
                        <input id="doctor_name" name="doctor_name" type="text" placeholder="Doctor's Name"></textarea>
                    </div>

                    <div class="fields">
                        <div class="field">
                            <label>Surgery Address line 1</label>
                            <input id="surgery_address_line_1" name="surgery_address_line_1" type="text" placeholder="Line 1">
                        </div>
                        <div class="field">
                            <label>Doctor's Address line 2-3</label>
                            <textarea id="surgery_address_line_2" name="surgery_address_line_2" rows="2"></textarea>
                        </div>
                        <div class="field">
                            <label>Post code</label>
                            <input id="surgery_post_code" name="surgery_post_code" type="text" placeholder="Post code">
                        </div>

                        <div class="field" style="width: 200px;">
                            <label>Surgery Telephone</label>
                            <input id="surgery_telephone" name="surgery_telephone" type="text" placeholder="Telephone Number">
                        </div>  
                    </div>

                    <!--w2ui date picker-->
                    <div class="icon field">
                        <label>Join Date</label>
                        <div class="ui input left icon" style="width: 150px;">
                            <i class="calendar icon"></i>
                            <input id="join_date" name="join_date" type="eu-date" placeholder="Select Date">
                        </div>
                    </div>

                    <div class="field" style="width: 80px;">
                        <label>Status</label>
                        <div id="status" class="ui dropdown selection">
                            <input type="hidden" name="status">
                            <div class="default text">Select status</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" data-value="a">Active</div>
                                <div class="item" data-value="g">Graduate</div>
                                <div class="item" data-value="d">Drop out</div>
                            </div>
                        </div>
                    </div>

                    <div class="field" style="width: 350px;">
                        <label>Notes</label>
                        <textarea id="notes" name="notes" rows="2"></textarea>
                    </div>

                    <!-- buttons-->
                    <div class="custom__button_panel_form">
                        <input id=save_student class="ui primary submit button" type="button" value=Save />
                        <input id=close class="ui button cancel" type="button" value=Close />
                    </div>
                </form>
            </div>
            <!-- end of ui segment -->


        </div>
    </div>



    <!-- close grid-->
</div>


{% endblock %} {% block footer %} {{ super() }} {% endblock %}