{% extends "base.html" %} 
{% block title %}Students{% endblock %} 
{% block head %} 
{{ super() }} 

<script type="text/javascript">
    {% include "students/student_list.js" %}

</script>
{% endblock %} 
{% block header%} 
{{ super() }} 
{% endblock %}

<!-- body begins -->
{% block content %}

<!--start grid-->
<div class="ui centered grid">

    <div class="row custom__primary_grid">
        <div class="fourteen wide column">
            <div id="student_list" style="height: 100%;"></div>
        </div>
    </div>

    <div class="row custom__button_panel_grid">
        <div class="right aligned fourteen wide column">
            <input id=add_student class="ui button" type="button" value=Add />
            <input id=edit_student class="ui button" type="button" value=Edit />
        </div>
    </div>

    <!-- close grid-->
</div>

<!-- select student modal -->
<div id="select_student_modal" class="ui small modal">
    <div class=header>Alert</div>
    <div class="content">
        <p>Please select a student to edit.</p>
    </div>
    <div class="actions">
        <div class="ui blue cancel button">OK</div>
    </div>
</div>

{% endblock %} {% block footer %} {{ super() }} {% endblock %}