<!DOCTYPE html>
<html>
<head>
{% block head %}
<title>Iqra Collective - {% block title %}{% endblock %}</title>

<link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='semantic/dist/semantic.min.css' )}}">
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='node_modules/w2ui/w2ui-1.4.3.min.css' )}}" />
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='app_css/ark.css' )}}" />

<script src="{{ url_for( 'static', filename='node_modules/jquery/dist/jquery.min.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='semantic/dist/semantic.min.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='node_modules/w2ui/w2ui-1.4.3.min.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='app_utils/ui.js' ) }}"></script>
<script src="{{ url_for( 'static', filename='app_utils/ark.js' ) }}"></script>

{{ JSGlue.include() }}


<style type="text/css" media="all">
    html {
        font-family : 'Josefin Slab';
    }

    .ui.centered.grid > .row {
        padding-top: 0%;
    }

</style>

{% endblock %}

</head>

<body>

{% block header %}


<div class="ui fixed inverted menu" style="font-size: 1.20rem;">
    <div class="ui container" style="top: -50px;">
        <a href="#" class="header item">
        <img class="logo" src="assets/images/logo.png">Iqra Collective</a>
    </div>
</div>
</div>  

<div class="ui centered grid" style="margin-top: 0%;">

<div class="fourteen wide column">
<div class="ui pointing menu">
    <a class="active item" id="tab-home" href="/">Home</a>
    <a class="item" id="tab-students" href="/student_list">Students</a>
    <a class="item" id="tab-groups" href="/groups">Groups</a>
    <div class="right menu">
        <a class="ui item" id="tab-logout" href="/logout">Logout</a>
    </div>
</div>
</div>

</div>

{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
<footer>

</footer>

{% endblock %}

<script>
    
$(document).ready( function() {

    // set some global variables that we need accessing
    $(".ui.pointing.menu a").on('click', undefined, function(event) { 
        // first remove all existing actives 
        // $(".ui.pointing.menu a").removeClass('active');
        // $(this).addClass('active');
    })

});
</script>

</body>

</html>