{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block head %} 
{{ super() }} 

<script type="text/javascript">
    {% include "home.js" %}

</script>

{% endblock %} 
{% block header%} 
{{ super() }} 
{% endblock %}

<!-- body begins -->
{% block content %}

<!--start grid-->
<div class="ui centered grid">

    <div class="row custom__primary_grid">
        <div class="fourteen wide column">
            <div id="school_info" style="height: 100%;">

                <table id="school_details" class="ui striped collapsing celled table">
                    <thead>
                        <tr>
                            <th colspan=2>Madrasah Details</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %} {% block footer %} {{ super() }} {% endblock %}