{% extends "base.html" %} {% block title %}Login{% endblock %} {% block head %} {{ super() }}
<style type="text/css">

    body>.grid {
        height: 100%;
    }
   
   .column {
        max-width: 450px;
    }
</style>
{% endblock %}

{% block header %} {% endblock %}

<!-- body begins -->
{% block content %}

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal header">
            <div class="content">
                Log-in to your account
            </div>
        </h2>
        <form id="login_form" class="ui large form" method="POST">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" id="username" placeholder="Username">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" id="password" placeholder="Password">
                    </div>
                </div>
                <div class="ui fluid large teal submit button">Login</div>
            </div>

            <div class="ui error message"></div>

        </form>
    </div>
</div>

<script>
    $(document)
        .ready(function () {
            $('.ui.form')
                .form({
                    fields: {
                        username: {
                            identifier: 'email',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please enter your e-mail'
                                }
                            ]
                        },
                        password: {
                            identifier: 'password',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'Please enter your password'
                                }
                            ]
                        }
                    },
                    onSuccess : function() {
                        login_form = document.getElementById('login_form');
                        login_form.action = Flask.url_for("main_app.validate_login");
                        login_form.submit();
                    }
                })
                ;
        })
        ;

</script>

{% endblock %} {% block footer %} {{ super() }} {% endblock %}