{% extends "base.html" %} {% block title %}CSV Upload{% endblock %} {% block head %} {{ super() }}

<script type="text/javascript">

</script> {% endblock %}

<!-- body begins -->
{% block content %}
<div class="ui centered grid">

    <div class="row custom__primary_grid">
        <div class="fourteen wide column">

            <div class="ui segment" style="overflow: auto; height: 100%;">
                <!--start grid-->
                <form enctype="multipart/form-data" action="/uploader" method="POST">
                    <h3>Student CSV Upload</h3>
                    <input type="file" name="file" />
                    <input type="submit" />
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}