
/* starts after tabs row and ends before button row */
div.row.custom__primary_grid {
    top: 110px;
    bottom: 7%;
    /*height: 75%;*/
    position: absolute !important;
}

/* the standard button row for grids */
div.row.custom__button_panel_grid {
    bottom: 0%;
    position: absolute !important;
}

/* the standard button row for forms 
this will not be a separate row like the grid's buttons
as the form's button lie within the form
*/
div.custom__button_panel_form {
    bottom: 2%;
    right: 7%;
    position: fixed !important;
}

/* lone button panel */
div.custom__button_panel_standard {
    bottom: 3%;
    position: absolute;
    right: 7%;
}

/* list: starts after tabs row and ends before button row */
div.ui.list.custom__primary_list {
    right: 7%;
    left: 7%;
    position: absolute;
    max-height: 74%;
    overflow-y: scroll;
}